<html>
<head>
</head>
<body>

  <div id="app">

    <gallery-exists
      v-if="!(galleryExistsResponseReceived && galleryExists)"
      :guid="galleryGuid"
      :reponse-received="galleryExistsResponseReceived"
      :exists="galleryExists"
      @galleryexistsresponse="SetGalleryExistsResponseData($event)">
    </gallery-exists>

    <login
      v-if="galleryExists && !haveGalleryAuthToken"
      :guid="galleryGuid"
      @galleryauthresponse="SetGalleryAuthToken($event)">
    </login>

    <image-gallery
      v-if="haveGalleryAuthToken"
      :auth-token="galleryAuthToken">
    </image-gallery>

  </div>


  <!--<script src="lib/vue.min.js"></script>-->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="lib/vue-async-computed.js"></script>
  <script src="lib/axios.min.js"></script>
  <script src="app.js"></script>


</body>
</html>
